[probe]
##	Inductive Probe
##	This probe is not used for Z height, only Quad Gantry Leveling
pin: ^z:PWR_DET
x_offset: 0
y_offset: 22
z_offset: 3
speed: 10
samples: 3
samples_result: median
sample_retract_dist: 1
samples_tolerance: 0.006
samples_tolerance_retries: 3

[homing_heaters]

# [filament_switch_sensor filament]
# pause_on_runout: False
# runout_gcode: PAUSE
# pause_delay: 1 
# switch_pin: !E0_DET
